{%extends "layout.html"%}
{% block content%}
{% if error%}
<p style="color: red">{{error}}</p>
{%endif%}


<form method="post">
    <input type="text" name="txtfullname" placeholder="enter full name " value="{{form_data.name}}"></br>
    <input type="email" name="txtEmail" placeholder="enter email" value="{{form_data.email}}"></br>
    <input type="password" name="txtPassword" placeholder="enter password" value="{{form_data.password}}"></br>
    <input type="password" name="RetypePassword" placeholder="retype password" value="{{form_data.repass}}"></br>
    <input type="submit" value="register">
</form>
{% endblock %}